<!-- About Page -->
<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body class="img js-fullheight" style="background-image: url(/images/bg.jpg); background-position: center; background-repeat: no-repeat; background-attachment: fixed;">
        
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-md-6 col-lg-4">
                    <h5 style="font-size: 30px;font-weight: bold; color: white" class="mb-4 text-center"> About Us</h3> <br>
                </div>

                <img src="/images/teampic.jpg" width="800" height="600" > <br>

                <div class="col-md-6 col-lg-4">                   
                    <h5 style="color: black;background-color: white; border-style: solid;" class="mb-4 text-center"> 
                    Thank You Guy For Visiting Our Webtite!</h5>
                    <p style="color: white; font-weight: bold" >Rachid Sassine (Left),  Amimul Bhuiyan (Middle), and Elvin Valdez (Right)</p>
                    <p style="color: white; font-weight: bold">This was a fun project to do for our senior seminar class. It is the first time we worked with web development and 
                        it was honestly a lot of fun to work on. We learned a lot!</p>
                    
                    <p style="color: white; font-weight: bold">We wanted to make a Website which can function both as a gallery and a place where artists can sell their pictures. 
                        Our website takes out all of the usual restrictions that are imposed on artists in in-person Galleries (like only allowing artists with
                        connections to display their works) and allows artists of any background to have the freedom to post whatever art piece they wish
                        as long as they can take a picture of it. </p>
                </div>


            </div>
        </div>

    </body>
</html>