<!-- THIS PAGE WAS NOT FULLY MADE BY US.

    WE MADE HEAVY EDITS AND CHANGES SO THAT IT FITS MORE 
    WITH THE STYLE OF THE WEBSITE THAT WE WANT BUT THE TEMPLATE
     WE GOT IT FROM WAS NOT CREATED BY US
	
	This was an open source template that we decided to use from the following link:
	https://colorlib.com/wp/template/login-form-20/
	Author: Colorlib
	Released: 2021
	License: CC BY 3.0	
-->
<!doctype html>
<html lang="en">
  <head>
  	<title>La Gallerie Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
	</head>

	<body class="img js-fullheight" style="background-image: url(images/bg.jpg); background-position: center; background-repeat: no-repeat; background-attachment: fixed;">
		<section class="ftco-section">
			<div class="container">

				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-5">
						<h2 class="heading-section">La Gallerie</h2>
					</div>
				</div>

				
				<div class="row justify-content-center">
					<div class="col-md-6 col-lg-4">
						<div class="login-wrap p-0">
							<h3 class="mb-4 text-center">Login</h3>

							<!--Form Starts here-->
							<form action="/login" class="signin-form" method="post">

								<div class="form-group">
									<input type="text" name="usernfield" class="form-control" placeholder="Username" required/>
								</div>

								<div class="form-group">
									<input id="password-field" type="password" name="passwfield" class="form-control" placeholder="Password" required/>
								</div>

								<div class="form-group">
									<button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
								</div>

							</form>

							<div class="text-center" >
								<a href="/gallery">&mdash; Continue Without Logging In &mdash;</a>
							</div>>
							
							<p class="w-100 text-center">&mdash; Sign Up Here &mdash;</p>
							<div class="social d-flex text-center">
								<a href="/signup" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span>Sign Up !!!</a>
							</div>
				
						</div>
					</div>
				</div>
				
			</div>
		</section>
	</body>

</html>