<!DOCTYPE html>
<html>
    <head>
        <title>Testing File Upload and Save</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>

        <form action="/uploadtest" method="post" enctype="multipart/form-data" >
            <input type="file" name="filetoupload" />

            <button type="submit" >Submit</button>
        </form>

    </body>
</html>