<!DOCTYPE html>
<html>
    <head>
        <title>Testing File Upload and Save</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <form action="/uploadartinfo" method="post" >
            <textarea name="description" >Image Description</textarea> <br>
            <input type="number" name="price" placeholder="price"/>
            <input type="text" name="name" placeholder="Image Name"/>
            <button type="submit" >Submit</button>
        </form>

    </body>
</html>